{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container d-flex  py-5" style="height: 100%;">
    <!--Contact list-->
    <aside class="col-lg-4">
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Элемент списка
                <span class="badge bg-primary rounded-pill">14</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Второй элемент списка
                <span class="badge bg-primary rounded-pill">2</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Третий элемент списка
                <span class="badge bg-primary rounded-pill">1</span>
            </li>
        </ul>
    </aside>
    <!--Contact list-->
    <!--chat-->
    <section class="col-lg-8" style="height: 100%;">
        <div class="container-fluid" style="height: 100%;">

            <div class="row d-flex justify-content-center" style="height: 100%;">
                <div class="">

                    <div class="card" style="height: 100%;">
                        <!--top-->
                        <div class="card-header d-flex justify-content-between align-items-center p-3">
                            <h5 class="mb-0">Chat</h5>
                            <a href="{% url 'chat:home' %}" class="btn btn-primary btn-sm">На главную</a>
                        </div>
                        <!--top-->
                        <!--messages-->
                        <div id="chat" class="card-body overflow-y-scroll" data-mdb-perfect-scrollbar-init
                            style="position: relative; height: 400px">

                            <div class="d-flex flex-row justify-content-start">
                                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3-bg.webp"
                                    alt="avatar 1" style="width: 45px; height: 100%;">
                                <div>
                                    <p class="small p-2 ms-3 mb-1 rounded-3 bg-body-tertiary">Hi</p>
                                    <p class="small p-2 ms-3 mb-1 rounded-3 bg-body-tertiary">How are you ...???
                                    </p>
                                    <p class="small p-2 ms-3 mb-1 rounded-3 bg-body-tertiary">What are you doing
                                        tomorrow? Can we come up a bar?</p>
                                    <p class="small ms-3 mb-3 rounded-3 text-muted">23:58</p>
                                </div>
                            </div>

                            <div class="divider d-flex align-items-center mb-4">
                                <p class="text-center mx-3 mb-0" style="color: #a2aab7;">Today</p>
                            </div>

                            <div class="d-flex flex-row justify-content-end mb-4 pt-1">
                                <div>
                                    <p class="small p-2 me-3 mb-1 text-white rounded-3 bg-primary">Hiii, I'm good.</p>
                                    <p class="small p-2 me-3 mb-1 text-white rounded-3 bg-primary">How are you doing?
                                    </p>
                                    <p class="small p-2 me-3 mb-1 text-white rounded-3 bg-primary">Long time no see!
                                        Tomorrow
                                        office. will
                                        be free on sunday.</p>
                                    <p class="small me-3 mb-3 rounded-3 text-muted d-flex justify-content-end">00:06</p>
                                </div>
                                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava4-bg.webp"
                                    alt="avatar 1" style="width: 45px; height: 100%;">
                            </div>

                            <div class="d-flex flex-row justify-content-start mb-4">
                                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3-bg.webp"
                                    alt="avatar 1" style="width: 45px; height: 100%;">
                                <div>
                                    <p class="small p-2 ms-3 mb-1 rounded-3 bg-body-tertiary">Okay</p>
                                    <p class="small p-2 ms-3 mb-1 rounded-3 bg-body-tertiary">We will go on
                                        Sunday?</p>
                                    <p class="small ms-3 mb-3 rounded-3 text-muted">00:07</p>
                                </div>
                            </div>

                            <div class="d-flex flex-row justify-content-end mb-4">
                                <div>
                                    <p class="small p-2 me-3 mb-1 text-white rounded-3 bg-primary">That's awesome!</p>
                                    <p class="small p-2 me-3 mb-1 text-white rounded-3 bg-primary">I will meet you
                                        Sandon
                                        Square
                                        sharp at
                                        10 AM</p>
                                    <p class="small p-2 me-3 mb-1 text-white rounded-3 bg-primary">Is that okay?</p>
                                    <p class="small me-3 mb-3 rounded-3 text-muted d-flex justify-content-end">00:09</p>
                                </div>
                                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava4-bg.webp"
                                    alt="avatar 1" style="width: 45px; height: 100%;">
                            </div>

                            <div class="d-flex flex-row justify-content-start mb-4">
                                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3-bg.webp"
                                    alt="avatar 1" style="width: 45px; height: 100%;">
                                <div>
                                    <p class="small p-2 ms-3 mb-1 rounded-3 bg-body-tertiary">Okay i will meet
                                        you on
                                        Sandon Square</p>
                                    <p class="small ms-3 mb-3 rounded-3 text-muted">00:11</p>
                                </div>
                            </div>

                            <div class="d-flex flex-row justify-content-end mb-4">
                                <div>
                                    <p class="small p-2 me-3 mb-1 text-white rounded-3 bg-primary">Do you have pictures
                                        of
                                        Matley
                                        Marriage?</p>
                                    <p class="small me-3 mb-3 rounded-3 text-muted d-flex justify-content-end">00:11</p>
                                </div>
                                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava4-bg.webp"
                                    alt="avatar 1" style="width: 45px; height: 100%;">
                            </div>

                            <div class="d-flex flex-row justify-content-start mb-4">
                                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3-bg.webp"
                                    alt="avatar 1" style="width: 45px; height: 100%;">
                                <div>
                                    <p class="small p-2 ms-3 mb-1 rounded-3 bg-body-tertiary">Sorry I don't
                                        have. i
                                        changed my phone.</p>
                                    <p class="small ms-3 mb-3 rounded-3 text-muted">00:13</p>
                                </div>
                            </div>

                            <div class="d-flex flex-row justify-content-end">
                                <div>
                                    <p class="small p-2 me-3 mb-1 text-white rounded-3 bg-primary">Okay then see you on
                                        sunday!!
                                    </p>
                                    <p class="small me-3 mb-3 rounded-3 text-muted d-flex justify-content-end">00:15</p>
                                </div>
                                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava4-bg.webp"
                                    alt="avatar 1" style="width: 45px; height: 100%;">
                            </div>

                        </div>
                        <!--messages-->
                        <!--footer-->
                        <div class="card-footer text-muted d-flex justify-content-start align-items-center p-3">
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3-bg.webp"
                                alt="avatar 3" style="width: 40px; height: 100%;">
                            <div class="input-group">
                                <input id="chat-message-input" type="text" class="form-control"
                                    placeholder="Напишите свое сообщение" aria-label="Имя пользователя получателя"
                                    aria-describedby="chat-message-submit">
                                <button class="btn btn-lg btn-outline-primary" type="button"
                                    id="chat-message-submit">Отправить</button>
                            </div>
                        </div>
                        <!--footer-->
                    </div>

                </div>
            </div>

        </div>
    </section>
    <!--chat-->
</div>
{{ room_name|json_script:'room-name' }}
<script src="{% static 'js/my_script.js' %}"></script>
{% endblock content %}