{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Шаблон для сообщения -->
{% include 'chat/includes/messages_templates.html' %}
<!-- Шаблон для сообщения -->
<div class="container d-flex  py-5" style="height: 100%;">
    <!--Contact list-->
    <aside class="col-lg-4">
        {% include 'chat/includes/user_list_room.html' %}
    </aside>
    <!--Contact list-->
    <!--chat-->
    <section class="col-lg-8" style="height: 100%;">
        <div class="container-fluid" style="height: 100%;">

            <div class="row d-flex justify-content-center" style="height: 100%;">
                <div class="">

                    <div class="card" style="height: 100%;">
                        <!--top-->
                        <div class="card-header d-flex justify-content-between align-items-center p-3">
                            <h5 class="mb-0">Chat-Room: {{ current_room.room_name }}</h5>
                            <a href="{% url 'chat:home' %}" class="btn btn-primary btn-sm">На главную</a>
                        </div>
                        <!--top-->
                        <!--messages-->

                        <div id="chat" class="card-body overflow-y-scroll" data-mdb-perfect-scrollbar-init style="position: relative; height: 400px">
                            {% for message in messages %}
                            <div class="d-flex {% if message.sender == request.user %}justify-content-end{% else %}justify-content-start{% endif %} mb-4">
                                <div class="card border-primary" style="width: 28rem;">
                                    <div class="card-header text-primary d-flex justify-content-between p-3">
                                        <p class="fw-bold mb-0">{{ message.sender.username }}</p>
                                        <p class="text-primary small mb-0">{{ message.created_at|timesince }}</p>
                                    </div>
                                    <div class="card-body text-primary">
                                        <p class="mb-0">
                                            {{ message.content }}
                                        </p>
                                    </div>
                                    <div class="card-footer">
                                        <small>{{ message.is_seen|yesno:"Прочитано,Непрочитано" }}</small>
                                    </div>
                                </div>
                                <img src="{{ message.sender.avatar.url }}" alt="avatar" class="rounded-circle d-flex align-self-start ms-3 shadow-1-strong" width="60">
                            </div>
                            {% endfor %}
                        </div>
                        <!--messages-->
                        <!--footer-chat-->
                        <div class="card-footer text-muted d-flex justify-content-start align-items-center p-3">
                            <img src="{{ request.user.avatar.url }}" alt="avatar 3" style="width: 50px; height: 80%; border-radius: 50%;" class="me-2">
                            <div class="input-group">
                                <input id="chat-message-input" type="text" class="form-control" placeholder="Напишите свое сообщение" aria-label="Имя пользователя получателя"
                                    aria-describedby="chat-message-submit">
                                <button class="btn btn-lg btn-outline-primary" type="button" id="chat-message-submit">Отправить</button>
                            </div>
                        </div>
                        <!--footer-chat-->
                    </div>

                </div>
            </div>

        </div>
    </section>
    <!--chat-->
</div>
{{ current_room.room_name|json_script:'room-name' }}
{{ request.user.username|json_script:'username' }}
<script src="{% static 'js/my_script.js' %}"></script>
{% endblock content %}