{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="wrapper" style="min-height: 100%; display: flex; flex-direction: column;">
    <header style="background-color: aquamarine; height: 4rem;"></header>
    <main style="background-color: blanchedalmond; flex: 1 1 auto;" class="">
        <div style="height: 100%;">
            <div class="container-fluid overflow-y-scroll">
                <div class="row justify-content-center">
                    {% for i in count %}
                    <div class="card m-3" style="width: 18rem;">
                        <img src="{% static 'img/default.png' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Заголовок карточки</h5>
                            <p class="card-text">Небольшой пример текста, который должен основываться на названии
                                карточки и составлять основную часть содержимого карты.</p>
                            <a href="#" class="btn btn-primary">Перейти куда-нибудь</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </main>
    <footer style="background-color: aquamarine; height: 4rem;"></footer>
</div>
{% endblock content %}